.main {
    min-width: 360px;
    &-section-content {
        &-title {
            font-family: CeraPro;
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            margin: 80px 0 30px 0;
            @include adaptive(md) {
                margin: 110px 0 0 362px;
                display: block;
            }
            @include adaptive(lg) {
                margin: 100px 0 0 400px;
                display: block;
                font-size: 24px;
                line-height: 30px;
            }
            @include adaptive(xl) {
                margin: 160px 0 0 594px;
                display: block;
                font-size: 30px;
                line-height: 38px;
            }
            @include adaptive(desktop) {
                margin: 150px 0 0 720px;
                display: block;
            }
        }
        &-text {
            padding: 0 29px 30px 29px;
            font-size: 12px;
            line-height: 16px;
            font-family: Montserrat;
            @include adaptive(md) {
                display: inline;
                float: right;
                width: 270px;
                padding: 0;
                margin: 40px 0 0 0;
            }
            @include adaptive(lg) {
                display: inline;
                float: right;
                width: 285px;
                padding: 0;
                margin: 50px 0 0 0;
                font-size: 13px;
                line-height: 17px;
            }
            @include adaptive(xl) {
                display: inline;
                float: right;
                width: 375px;
                padding: 0;
                margin: 62px 90px 90px 0;
                font-size: 14px;
                line-height: 19px;
            }
            @include adaptive(desktop) {
                display: inline;
                float: right;
                width: 375px;
                padding: 0;
                margin: 50px 200px 0 0;
            }
        }
        &-vword {
            &.open-menu {
                visibility: hidden;
            }
            font-family: CeraPro;
            font-size: 12px;
            font-weight: 500;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-top: 42px;
            @include adaptive(md) {
                padding-top: 38px;
                font-size: 14px;
            }
            @include adaptive(lg) {
                padding-top: 0;
                font-size: 16px;
            }
        }
        &-block {
            display: flex;
            padding-bottom: 40px;
            @include adaptive(md) {
                justify-content: space-between;
                margin-left: 50px;
            }
            @include adaptive(xl) {
                margin-left: 25px;
            }
            @include adaptive(desktop) {
                margin-left: 50px;
            }
            &-filter {
                flex: auto;
                @include adaptive(md) {
                    float: right;
                    position: relative;
                    top: 80px;
                    left: 90px;
                    width: 270px;
                    flex-basis: 270px;
                    flex: none;
                }
                @include adaptive(lg) {
                    float: right;
                    position: relative;
                    top: 110px;
                    left: 105px;
                    width: 285px;
                    flex-basis: 285px;
                    flex: none;
                }
                @include adaptive(xl) {
                    float: right;
                    position: relative;
                    top: 240px;
                    left: 150px;
                    width: 465px;
                    flex-basis: 465px;
                    flex: none;
                }
                @include adaptive(desktop) {
                    float: right;
                    position: relative;
                    top: 265px;
                    width: 570px;
                    flex-basis: 570px;
                    flex: none;
                }
                &__title {
                    padding-top: 35px;
                    display: flex;
                    justify-content: space-between;
                    @include adaptive(md) {
                        padding-top: 0;
                        height: 15px;
                    }
                    &-v {
                        font-family: CeraPro;
                        font-size: 12px;
                        font-weight: 500;
                        writing-mode: vertical-rl;
                        transform: rotate(180deg);
                        @include adaptive(md) {
                            position: relative;
                            float: left;
                            top: 40px;
                            font-size: 14px;
                        }
                        @include adaptive(lg) {
                            position: relative;
                            float: left;
                            top: 82px;
                            font-size: 14px;
                        }
                        @include adaptive(desktop) {
                            position: relative;
                            float: left;
                            top: 145px;
                            font-size: 14px;
                        }
                    }
                    &-h {
                        margin: auto 0;
                        font-family: CeraPro;
                        font-size: 12px;
                        font-weight: 500;
                        @include adaptive(md) {
                            margin: 0;
                        }
                    }
                }
                &__spec {
                    margin: 10px 0 50px 0;
                    @include adaptive(md) {
                        margin: 10px 0 0 60px;
                    }
                    @include adaptive(lg) {
                        margin: 30px 0 0 60px;
                    }
                    @include adaptive(xl) {
                        margin: 30px 0 0 105px;
                    }
                    @include adaptive(desktop) {
                        margin: 90px 0 0 120px;
                    }
                    &-label {
                        font-family: CeraPro;
                        color: #000;
                        font-size: 12px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        padding-top: 15px;
                        @include adaptive(md) {
                            padding-top: 0;
                            padding-bottom: 15px;
                            font-size: 13px;
                        }
                    }
                    &-input {
                        margin-right: 8px;
                    }
                }
                &-buttons {
                    display: flex;
                    @include adaptive(md) {
                        margin: 115px 0 0 0;
                    }
                    @include adaptive(lg) {
                        margin: 125px 0 0 0;
                    }
                    @include adaptive(xl) {
                        margin: 190px 0 0 0;
                    }
                    @include adaptive(desktop) {
                        margin: 235px 0 0 0;
                    }
                }
                &__clear {
                    margin-right: 8px;
                    font-family: CeraPro;
                    font-size: 13px;    
                    font-weight: 500;
                    line-height: 30px;
                    border: none;
                    align-items: center;
                    background-color: #fff;
                }
                &__close {
                    border: none;
                    align-items: center;
                    background-color: #fff;
                }
            }
        }
        &-subtitle {
            font-family: CeraPro;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            padding-bottom: 30px;
            @include adaptive(md) {
                margin: 110px 0 0 362px;
                display: block;
            }
            @include adaptive(lg) {
                font-size: 36px;
                line-height: 45px;
                margin: 100px 0 0 400px;
                display: block;
            }
            @include adaptive(xl) {
                font-size: 56px;
                line-height: 70px;
                margin: 160px 0 0 594px;
                display: block;
            }
            @include adaptive(desktop) {
                margin: 150px 0 0 720px;
                display: block;
            }
        }
        &-spec {
            padding-bottom: 30px;
            display: flex;
            @include adaptive (md) {
                margin-left: 60px;
            }
            @include adaptive (lg) {
                margin-left: 75px;
            }
            @include adaptive (xl) {
                margin-left: 90px;
            }
            @include adaptive (desktop) {
                margin-left: 145px;
            }
            &-item {
                padding-right: 15px;
                font-family: CeraPro;
                font-size: 13px;
                line-height: 30px;
                color: #808080;
                display: flex;
                align-items: center;
            }
            &__label {
                color: #000;
                padding-left: 7px;
                font-weight: 500;
                display: flex;
                align-items: center;
            }
            &__input {
                margin-left: 6px;  
            }
        }
        &-img {
            margin-bottom: 30px;
        }
        &-phrase {
            padding-bottom: 30px;
            text-align: right;
            font-family: CeraPro;
            font-size: 14px;
            line-height: 16px;
            @include adaptive (md) {
                display: inline;
                padding: 0;
                float: right;
                position: relative;
                bottom: 51.5px;
            }
            @include adaptive (xl) {
                font-size: 16px;
                line-height: 18px;
            }
        }
        &-pcard {
            &__wrapper {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
            }
            &-head {
                margin-bottom: 30px;
                display: flex;
                justify-content: flex-end;
                &__title {
                    text-transform: uppercase;
                    font-family: CeraPro;
                    font-size: 12px;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    align-self: flex-end;
                    padding-right: 35px;
                    @include adaptive(md) {
                        font-size: 14px;
                        padding-right: 35px;
                    }
                    @include adaptive(xl) {
                        font-size: 16px;
                    }
                }
            }
            &-spec {
                display: flex;
                flex-direction: column;
                &__custom {
                    display: flex;
                    align-self: center;
                    line-height: 20px;
                    &-variant {
                        text-align: center;
                        display: inline-block;
                        flex-basis: 20px;
                        width: 20px;
                        height: 100%;
                        &:focus {
                            border: 1px solid #000;
                        }
                    }
                }
                &__text {
                    text-align: center;
                    align-self: center;
                    font-family: CeraPro;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 15px;
                    margin: 15px 0;
                    @include adaptive(xl) {
                       line-height: 18px;
                       font-size: 14px;
                    }
                }
                &__price {
                    text-align: center;
                    align-self: center;
                    font-family: CeraPro;
                    font-size: 14px;
                    line-height: 18px;
                }
            }

        }
    }
}