$mobile: 360px;
$md: 768px;
$lg: 960px;
$xl: 1440px;
$desktop: 1920px;

@mixin adaptive($media) {
	@if $media == mobile {
		@media only screen and (min-width: $mobile) and (max-width: $md - 0.02px)
			{ @content; }
        }
	@else if $media == md {
		@media only screen and (min-width: $md)
			{ @content; }
        }
    @else if $media == lg {
        @media only screen and (min-width: $lg)
            { @content; }
        }
    @else if $media == xl {
        @media only screen and (min-width: $xl)
            { @content; }
        }
	@else if $media == desktop {
		@media only screen and (min-width: $desktop)
			{ @content; }
        }

}